.Tasks {
    padding: 20px;
    margin: 0;
    list-style-type: none;
}

.Tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 15px;
    padding: 10px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

.Tasks__item--hidden {
    display: none;
}

.Tasks__button {
    width: 30px;
    height: 30px;
    border: none;
    transition: background 0.3s;
    cursor: pointer;
}

.Tasks__button--done {
    background-color: green;
    color: white;
    font-size: 20px;
    line-height: 20px;
}

.Tasks__button--done:hover {
    background-color: hsl(120, 100%, 30%);
}

.Tasks__button--done:active {
    outline: 1px solid black;
}

.Tasks__button--remove {
    background-color: red;
    color: white;
    font-size: 20px;
    line-height: 20px;
}

.Tasks__button--remove:hover {
    background-color: hsl(0, 100%, 60%);
}

.Tasks__button--remove:active {
    outline: 1px solid black;
}

.tasksList__spanTask {
    word-break: break-word;
}

.tasksList__spanTask--done {
    text-decoration: line-through;
}