html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #dadada;
}